# Data exploration - Global Land Temperatures dataset

In [1]:
import pandas as pd

This data comes from Berkeley Earth, and contains the global earth surface temperature data from 1750. Finest granularity by city, coarsest granularity by country.

Origin: https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data

## Data info (Global Temperatures)

In [2]:
df = pd.read_csv("../data/GlobalTemperatures.csv")
df.info()
df['date'] = pd.to_datetime(df['dt'], format='%Y-%m-%d')
df[['date']].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3192 entries, 0 to 3191
Data columns (total 9 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   dt                                         3192 non-null   object
 1   LandAverageTemperature                     3180 non-null   float64
 2   LandAverageTemperatureUncertainty          3180 non-null   float64
 3   LandMaxTemperature                         1992 non-null   float64
 4   LandMaxTemperatureUncertainty              1992 non-null   float64
 5   LandMinTemperature                         1992 non-null   float64
 6   LandMinTemperatureUncertainty              1992 non-null   float64
 7   LandAndOceanAverageTemperature             1992 non-null   float64
 8   LandAndOceanAverageTemperatureUncertainty  1992 non-null   float64
dtypes: float64(8), object(1)
memory usage: 212.0+ KB

                       date
count                  3192
unique                 3192
top     1839-06-01 00:00:00
freq                      1
first   1750-01-01 00:00:00
last    2015-12-01 00:00:00

## Data info (By Country)

In [3]:
df = pd.read_csv("../data/GlobalLandTemperaturesByCountry.csv")
df.info()
df['date'] = pd.to_datetime(df['dt'], format='%Y-%m-%d')
df[['date']].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577462 entries, 0 to 577461
Data columns (total 4 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             577462 non-null  object
 1   AverageTemperature             544811 non-null  float64
 2   AverageTemperatureUncertainty  545550 non-null  float64
 3   Country                        577462 non-null  object
dtypes: float64(2), object(2)
memory usage: 13.2+ MB

                       date
count                577462
unique                 3239
top     1970-01-01 00:00:00
freq                    243
first   1743-11-01 00:00:00
last    2013-09-01 00:00:00

## Data info (By State)

In [4]:
df = pd.read_csv("../data/GlobalLandTemperaturesByState.csv")
df.info()
df['date'] = pd.to_datetime(df['dt'], format='%Y-%m-%d')
df[['date']].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645675 entries, 0 to 645674
Data columns (total 5 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             645675 non-null  object
 1   AverageTemperature             620027 non-null  float64
 2   AverageTemperatureUncertainty  620027 non-null  float64
 3   State                          645675 non-null  object
 4   Country                        645675 non-null  object
dtypes: float64(2), object(3)
memory usage: 17.2+ MB

                       date
count                645675
unique                 3239
top     1970-01-01 00:00:00
freq                    241
first   1743-11-01 00:00:00
last    2013-09-01 00:00:00

## Data info (By MajorCity)

In [5]:
df = pd.read_csv("../data/GlobalLandTemperaturesByMajorCity.csv")
df.info()
df['date'] = pd.to_datetime(df['dt'], format='%Y-%m-%d')
df[['date']].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239177 entries, 0 to 239176
Data columns (total 7 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             239177 non-null  object
 1   AverageTemperature             228175 non-null  float64
 2   AverageTemperatureUncertainty  228175 non-null  float64
 3   City                           239177 non-null  object
 4   Country                        239177 non-null  object
 5   Latitude                       239177 non-null  object
 6   Longitude                      239177 non-null  object
dtypes: float64(2), object(5)
memory usage: 8.2+ MB

                       date
count                239177
unique                 3239
top     1970-01-01 00:00:00
freq                    100
first   1743-11-01 00:00:00
last    2013-09-01 00:00:00

## Data info (By City)

In [6]:
df = pd.read_csv("../data/GlobalLandTemperaturesByCity.csv")
df.info()
df['date'] = pd.to_datetime(df['dt'], format='%Y-%m-%d')
df[['date']].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8599212 entries, 0 to 8599211
Data columns (total 7 columns):
 #   Column                         Dtype
---  ------                         -----
 0   dt                             object
 1   AverageTemperature             float64
 2   AverageTemperatureUncertainty  float64
 3   City                           object
 4   Country                        object
 5   Latitude                       object
 6   Longitude                      object
dtypes: float64(2), object(5)
memory usage: 295.2+ MB

                       date
count               8599212
unique                 3239
top     1939-11-01 00:00:00
freq                   3510
first   1743-11-01 00:00:00
last    2013-09-01 00:00:00

## Conclusion
As there is **no temporal intersection** between this dataset and the main one (Visitor Arrivals), **it will not be used**.